@model IEnumerable<GMTVendorEvaluationWebApp.Models.Department>

    
        @{
            ViewData["Title"] = "Index";
        }


        <h1>List Of Departments</h1>

        <p>
            <a asp-action="Create">Add New Department</a>
        </p>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search.." title="Type in a name">
        <hr />
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.department_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.department_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" asp-action="Edit" asp-route-id="@item.departmentID">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm active" role="button" aria-pressed="true" asp-action="Details" asp-route-id="@item.departmentID">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm active" role="button" aria-pressed="true" asp-action="Delete" asp-route-id="@item.departmentID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        

        <script>
            function myFunction() {

                // Declare variables
                var input = document.getElementById("myInput");
                var filter = input.value.toUpperCase();
                var table = document.getElementById("myTable");
                var trs = table.tBodies[0].getElementsByTagName("tr");

                // Loop through first tbody's rows
                for (var i = 0; i < trs.length; i++) {

                    // define the row's cells
                    var tds = trs[i].getElementsByTagName("td");

                    // hide the row
                    trs[i].style.display = "none";

                    // loop through row cells
                    for (var i2 = 0; i2 < tds.length; i2++) {

                        // if there's a match
                        if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

                            // show the row
                            trs[i].style.display = "";

                            // skip to the next row
                            continue;

                        }
                    }
                }

            }
        </script>
