@model IEnumerable<GMTVendorEvaluationWebApp.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Departments</h1>

<p>
    <a asp-action="Create">Add New Department</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.department_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.department_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <div class="row">
                    <div class="column" style="padding-left:5px;"><a class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" asp-action="Edit" asp-route-id="@item.departmentID">Edit</a></div>
                    <div class="column" style="padding-left:5px"><a class="btn btn-info btn-sm active" role="button" aria-pressed="true" asp-action="Details" asp-route-id="@item.departmentID">Details</a> </div>
                    <div class="column" style="padding-left: 5px;"><a class="btn btn-danger btn-sm active" role="button" aria-pressed="true" asp-action="Delete" asp-route-id="@item.departmentID">Delete</a></div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
