@model GMTVendorEvaluationWebApp.Models.Product_Service

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product/Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_delivered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_delivered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.company_name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.department_name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="product_serviceID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
