@*@model IEnumerable<GMTVendorEvaluationWebApp.Models.EvaluationViewModel>*@
@model PaginatedList<GMTVendorEvaluationWebApp.Models.EvaluationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Product</a>
</p>

<form asp-action="Product_Search" method="get">
    <div class="form-actions no-color">
        <p>
            Search For Vendor: <input type="text" name="SearchString" value="@ViewData["ProductFilter"]" />
            <input type="submit" value="Search" class="btn btn-info" />
            <a asp-action="Index" class="btn btn-outline-success">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Date Delivered
            </th>
            <th>
                Vendor
            </th>
            <th>
                Deparment
            </th>
            <th>
                Score
            </th>
            <th>
                Percentage
            </th>
            <th>
                Grade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Delivered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)%
                </td>
                @{
                    if (item.Percentage >= 80 && item.Percentage <= 100)
                    {
                        <td>
                            GREAT
                        </td>
                    }

                    else if (item.Percentage >= 56 && item.Percentage <= 79)
                    {
                        <td>
                            GOOD
                        </td>
                    }

                    else if (item.Percentage >= 46 && item.Percentage <= 55)
                    {
                        <td>
                            WATCHLIST
                        </td>
                    }
                    else
                    {
                        <td>
                            REPLACE
                        </td>
                    }


                }

                <td>
                    @{
                        if (!item.Evaluated)
                        {
                            <a asp-controller="Evaluation" asp-action="Create" asp-route-id="@item.product_id">Admin Evaluation</a>
                        }
                        else
                        {

                            <a>Evaluated</a>
                        }
                    }

                    @{
                        if (!item.departmental_evaluation)
                        {
                            <a asp-controller="Evaluation" asp-action="Edit" asp-route-id="@item.product_id"> Departmental Evaluation </a>
                        }
                    }



                    <a asp-action="Edit" asp-route-id="@item.product_id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.product_id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.product_id">Delete</a>

                </td>
            </tr>
        }
    </tbody>

</table>
